In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('Airbnb NYC 2019.csv')

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
dfinfo = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
# Numarical and catagorical columns
num_cols = df.select_dtypes(include=np.number)
cat_cols = df.select_dtypes(include='object')

print(f'Numerical columns: {num_df.columns}')
print(f'Categorical columns: {cat_df.columns}')

Numerical columns: Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')
Categorical columns: Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

In [ ]:
#Q.1 find distribution of Airbnb Booking price range
df['price']

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [ ]:
cat_df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [ ]:
# Q.2 find listing/property count in each neighbourhood group
df['neighbourhood_group'].value_counts()

print(df['neighbourhood_group'].value_counts())

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [ ]:
# Q.3 find average price of listing/property in each Neighbourhood groups and also neighourhood
average_price = df.groupby('neighbourhood_group')['price'].mean()
print(average_price)

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

In [ ]:
# Q.4 find top neighbourhoods and host by listing/property in entire NYC
top_neighbourhoods = df['neighbourhood'].value_counts().head(10)
print(top_neighbourhoods)

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
Hell's Kitchen        1958
East Village          1853
Upper East Side       1798
Crown Heights         1564
Midtown               1545
Name: count, dtype: int64

In [ ]:
# Q.5 Find the Number of active Hosts by Listing/property in entire NYC
active_hosts = df['host_id'].nunique()
print(active_hosts)

37457

In [ ]:
# Q.6 Find total counts of Each room types in entire NYC
room_types = df['room_type'].value_counts()
print(room_types)

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

In [ ]:
# Q.7 find stay requirement counts by minimum nights
stay_requirements = df['minimum_nights'].value_counts()
print(stay_requirements)

minimum_nights
1      12720
2      11696
3       7999
30      3760
4       3303
       ...
186        1
366        1
68         1
87         1
36         1
Name: count, Length: 109, dtype: int64

In [ ]:
# Q.8 Find the total numbers of reviews and Maximum reviews by each neighbourhood group
total_reviews = df.groupby('neighbourhood_group')['number_of_reviews'].sum()
max_reviews = df.groupby('neighbourhood_group')['number_of_reviews'].max()

print(total_reviews)
print(max_reviews)

neighbourhood_group
Bronx             28371
Brooklyn         486574
Manhattan        454569
Queens           156950
Staten Island     11541
Name: number_of_reviews, dtype: int64
neighbourhood_group
Bronx            321
Brooklyn         488
Manhattan        607
Queens           629
Staten Island    333
Name: number_of_reviews, dtype: int64

In [ ]:
# Q.9 Find most reviewed room type in neighbourhood groups per month
most_reviewed_room_type = df.groupby(['neighbourhood_group', 'room_type'])['number_of_reviews'].max()
print(most_reviewed_room_type)

neighbourhood_group  room_type
Bronx                Entire home/apt    271
                     Private room       321
                     Shared room        116
Brooklyn             Entire home/apt    488
                     Private room       480
                     Shared room        236
Manhattan            Entire home/apt    447
                     Private room       607
                     Shared room        229
Queens               Entire home/apt    441
                     Private room       629
                     Shared room        454
Staten Island        Entire home/apt    242
                     Private room       333
                     Shared room          9
Name: number_of_reviews, dtype: int64

In [ ]:
# Q.10 Find best location listing/property location for travelers
best_location = df.groupby('neighbourhood_group')['availability_365'].max()
print(best_location)

neighbourhood_group
Bronx            365
Brooklyn         365
Manhattan        365
Queens           365
Staten Island    365
Name: availability_365, dtype: int64

In [ ]:
# Q.11 Find also best location listing/property locations for hosts
best_host_location = df.groupby('neighbourhood_group')['availability_365'].max()
print(best_host_location)

neighbourhood_group
Bronx            365
Brooklyn         365
Manhattan        365
Queens           365
Staten Island    365
Name: availability_365, dtype: int64

In [ ]:
# q.12 Find price variations in NYC neighbourhood groups
price_variations = df.groupby('neighbourhood_group')['price'].std()
print(price_variations)

neighbourhood_group
Bronx            106.709349
Brooklyn         186.873538
Manhattan        291.383183
Queens           167.102155
Staten Island    277.620403
Name: price, dtype: float64